*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1.6rem; }

.heading-big {
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 6.5rem;
  color: #B88E2F; }

.heading-6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #333333; }

.heading-4 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.88rem;
  color: #3A3A3A; }

.heading-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #333333; }

.paragraph1 {
  font-size: 1.6rem;
  line-height: 2.4rem; }

.btn__gold {
  background-color: #B88E2F;
  display: inline-block;
  color: #fff;
  padding: 2.5rem 7.2rem;
  font-size: 1.6rem;
  font-weight: 700; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.6rem 10rem 2.6rem 5.4rem;
  align-items: center; }
  .header__items {
    display: flex;
    gap: 0 7.5rem;
    list-style-type: none; }
  .header__item {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem; }
    .header__item:hover {
      color: #333333;
      cursor: pointer; }
  .header__details {
    display: flex;
    gap: 0 4.73rem; }
    .header__details--img {
      cursor: pointer; }

.hero__section {
  background-image: url(../../img/Hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(8, 10rem); }
  .hero__section-new--arrival {
    margin-top: 5rem;
    margin-left: 2rem;
    grid-row: 2 / span 4;
    grid-column: 9/ span 3;
    background-color: #FFF3E3;
    width: 64.3rem;
    height: 44.3rem;
    border-radius: 1rem;
    padding: 6.2rem 4.1rem 3.7rem; }
  .hero__section-h1 {
    margin-bottom: 1.7rem; }

.buy__btn {
  margin-top: 4.6rem; }

.browse__section {
  padding: 2.8rem 13.1rem; }

.browse__content {
  text-align: center; }

.browse__para1 {
  margin-bottom: 6.22rem; }

.browse__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38.1rem, 1fr));
  gap: 2rem; }

.browse__card--item {
  text-align: center;
  font-size: 2.4rem; }

.browse__card--img {
  margin-bottom: 2rem;
  width: 100%;
  height: 48rem; }

.products__section {
  padding: 2.8rem 10.2rem; }

.products__heading {
  text-align: center;
  margin-bottom: 3.2rem; }

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
  gap: 3.2rem; }

.products__card-content {
  width: 100%;
  height: 44.6rem;
  position: relative;
  background-color: #F4F5F7; }

.products__card-img {
  width: 100%;
  height: 30.1rem; }

.products__card-tag {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  background-color: #E97171;
  color: #ffffff;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.products__card-detail {
  padding: 1.6rem; }

.products__card-para {
  font-size: 1.6rem;
  padding: .8rem 0;
  color: #898989; }

.products__card-amount {
  display: flex;
  justify-content: space-between;
  margin-top: .8rem; }

.products__card--discount-price {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #3A3A3A;
  margin: auto 0; }

.products__card--actual-price {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #B0B0B0;
  margin: auto 0; }

.products__card-shape {
  width: 15rem;
  height: 20rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: translateX(-8rem) skewX(12deg);
  position: relative; }

.products__card-shape:hover {
  cursor: pointer; }

.products__card-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden; }

.products__card:hover .products__card-caption {
  cursor: pointer;
  opacity: 1;
  transform: translate(-50%, -50%); }

.products__card:hover .products__card-img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
  cursor: pointer; }
