*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1.6rem; }

.heading-big {
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 6.5rem;
  color: #B88E2F; }

.heading-6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #333333; }

.heading-4 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.88rem;
  color: #3A3A3A; }

.heading-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #333333; }

.heading-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #333333; }

.paragraph1 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.container {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto; }

.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: 0 auto; }

.mt-large {
  margin-top: 4rem; }

.mt-medium {
  margin-top: 3rem; }

.mb-largest {
  margin-bottom: 6.5rem; }

.mb-large {
  margin-bottom: 5.5rem; }

.mb-medium {
  margin-bottom: 3rem; }

.mb-small {
  margin-bottom: 2rem; }

.px-largest {
  padding: 0 13rem; }

.px-large {
  padding: 0 10rem; }

.px-medium {
  padding: 0 5rem; }

.px-small {
  padding: 0 4rem; }

.px-smallest {
  padding: 0 2rem; }

.text-center {
  text-align: center; }

.btn__gold-large {
  background-color: #B88E2F;
  display: inline-block;
  color: #fff;
  padding: 2.5rem 7.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: 1px solid #B88E2F;
  cursor: pointer; }
  .btn__gold-large:hover {
    background-color: #ffffff;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    transition: all .1s; }

.btn__gold-medium {
  background-color: #B88E2F;
  display: inline-block;
  color: #fff;
  padding: 1.2rem 3.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 1px solid #B88E2F;
  cursor: pointer; }
  .btn__gold-medium:hover {
    background-color: #ffffff;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    transition: all .1s; }

.btn__white {
  background-color: #ffffff;
  display: inline-block;
  color: #B88E2F;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  width: 20.2rem;
  height: 4.8rem;
  border: 1px solid #ffffff;
  cursor: pointer; }
  .btn__white:hover {
    background-color: #B88E2F;
    border: 1px solid #B88E2F;
    color: #FFFFFF;
    transition: all .1s; }

.gold__border-btn {
  background-color: #ffffff;
  color: #B88E2F;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  width: 20.2rem;
  height: 4.8rem;
  border: 1px solid #B88E2F;
  cursor: pointer; }
  .gold__border-btn:hover {
    background-color: #B88E2F;
    border: 1px solid #B88E2F;
    color: #FFFFFF;
    transition: all .1s; }

.header__cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }

.header__items {
  display: flex;
  gap: 0 7.5rem;
  list-style-type: none; }

.header__item {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem; }
  .header__item--link {
    text-decoration: none;
    color: #000000; }
  .header__item--link:hover {
    color: #B88E2F;
    cursor: pointer; }

.header__details {
  display: flex;
  gap: 0 4.73rem; }
  .header__details--img {
    cursor: pointer; }

.hero__section {
  background-image: url(../../img/Hero-bg.png);
  background-size: cover;
  background-position: center; }
  .hero__section--cover {
    padding: 15.3rem 0 8rem 0;
    display: flex;
    gap: 5rem;
    justify-content: end;
    align-items: center; }
  .hero__section-new--arrival {
    background-color: #FFF3E3;
    width: 64.3rem;
    height: 44.3rem;
    border-radius: 1rem;
    padding: 6rem 4rem; }
    .hero__section-new--arrival--btn {
      margin-top: 4.6rem; }
  .hero__section-h1 {
    margin-bottom: 1.7rem; }

.browse__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem; }

.browse__card--item {
  text-align: center;
  font-size: 2.4rem; }

.browse__card--image-img {
  width: 100%;
  height: 48rem; }

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
  gap: 3.2rem; }

.product__card {
  position: relative;
  overflow: hidden; }
  .product__card:hover .product__card-label {
    display: none; }
  .product__card-content {
    background-color: #F4F5F7;
    width: 100%;
    height: 14.5rem;
    padding: 1.6rem; }
    .product__card-content--para {
      font-size: 1.6rem;
      padding: 0.8rem 0;
      color: #898989; }
    .product__card-content--amount {
      display: flex;
      justify-content: space-between;
      margin-top: 0.8rem; }
    .product__card-content--discount {
      font-size: 2rem;
      font-weight: 600;
      line-height: 3rem;
      color: #3A3A3A;
      margin: auto 0; }
    .product__card-content--actual {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: #B0B0B0;
      margin: auto 0; }
  .product__card-label {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    background-color: #E97171;
    color: #ffffff;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .product__card-image {
    width: 100%;
    height: 30rem;
    transition: all 0.5s; }
    .product__card-image--figcap {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
      transform: translate(-50%, 50%);
      text-align: center;
      opacity: 0;
      transition: .5s ease;
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .product__card-image--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .product__card:hover {
    transition: all .5s; }
  .product__card:hover .product__card-image--figcap {
    opacity: 1;
    transition: all .5s;
    transform: translate(-50%, -50%); }
  .product__card-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
    gap: 0 2rem; }

.room__section {
  background-color: #FCF8F3;
  padding: 4.4rem 0rem; }
  .room__section--cover {
    display: flex;
    justify-content: space-between; }
  .room__section--content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .room__section--content-heading {
      width: 42.2rem;
      height: 9.6rem;
      margin-bottom: 0.7rem; }
    .room__section--content-paragraph {
      width: 36.8rem;
      height: 4.8rem; }
  .room__section--slider-content {
    display: flex;
    gap: 2.4rem;
    padding: 0 4.6rem; }
  .room__section--slider-images {
    position: relative; }
  .room__section--slider-img {
    width: 40.4rem;
    height: 58.2rem; }
  .room__section--slider-detail {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 5rem;
    left: 2.5rem; }
  .room__section--slider-label {
    background-color: #ffffff;
    padding: 3.2rem;
    opacity: 0.72; }
  .room__section--slider-heading3 {
    margin-top: 0.8rem; }
  .room__section--slider-arrow {
    background-color: #B88E2F;
    padding: 1.8rem 1.5rem;
    width: 4.8rem;
    height: 4.8rem; }
  .room__section--slider-image-2 {
    width: 37.2rem;
    height: 48.6rem; }
    .room__section--slider-image-2-img {
      width: 100%;
      height: 100%; }
  .room__section-radio-group {
    margin-top: 4.8rem;
    display: inline-block; }
  .room__section-radio-label {
    cursor: pointer;
    font-size: 1.6rem;
    position: relative;
    padding-left: 4.5rem; }
  .room__section-radio-button {
    height: 2.7rem;
    width: 2.7rem;
    border: 1px solid #B88E2F;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -1rem;
    top: 0; }
    .room__section-radio-button::after {
      content: "";
      display: block;
      height: 1.1rem;
      width: 1.1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #B88E2F;
      opacity: 0;
      transition: opacity 0.2s; }
  .room__section-radio-input {
    opacity: 0; }
  .room__section-radio-input:checked ~ .room__section-radio-label .room__section-radio-button::after {
    opacity: 1; }

.furniture__section--gallery {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 5vw);
  gap: 1.6rem; }
  .furniture__section--gallery-item-1 {
    grid-row: 1 / span 3;
    columns: 1 /1; }
  .furniture__section--gallery-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block; }
