*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1.6rem; }

.heading-big {
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 6.5rem;
  color: #B88E2F; }

.heading-6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #333333; }

.heading-4 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.88rem;
  color: #3A3A3A; }

.heading-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: #333333; }

.paragraph1 {
  font-size: 1.6rem;
  line-height: 2.4rem; }

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.mb-largest {
  margin-bottom: 6.29rem; }

.mb-large {
  margin-bottom: 5.6rem; }

.mb-medium {
  margin-bottom: 3.2rem; }

.mb-small {
  margin-bottom: 2.2rem; }

.px-largest {
  padding: 0 13rem; }

.px-large {
  padding: 0 10rem; }

.px-medium {
  padding: 0 7rem; }

.px-small {
  padding: 0 4rem; }

.text-center {
  text-align: center; }

.btn__gold {
  background-color: #B88E2F;
  display: inline-block;
  color: #fff;
  padding: 2.5rem 7.2rem;
  font-size: 1.6rem;
  font-weight: 700; }

.btn__white {
  background-color: #ffffff;
  display: inline-block;
  color: #B88E2F;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  width: 20.2rem;
  height: 4.8rem;
  border: 1px solid #ffffff;
  cursor: pointer; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.6rem 10rem 2.6rem 5.4rem;
  align-items: center; }
  .header__items {
    display: flex;
    gap: 0 7.5rem;
    list-style-type: none; }
  .header__item {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem; }
    .header__item:hover {
      color: #333333;
      cursor: pointer; }
  .header__details {
    display: flex;
    gap: 0 4.73rem; }
    .header__details--img {
      cursor: pointer; }

.hero__section {
  background-image: url(../../img/Hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(8, 10rem); }
  .hero__section-new--arrival {
    margin-top: 5rem;
    margin-left: 2rem;
    grid-row: 2 / span 4;
    grid-column: 9 / span 3;
    background-color: #FFF3E3;
    width: 64.3rem;
    height: 44.3rem;
    border-radius: 1rem;
    padding: 6.2rem 4.1rem 3.7rem; }
  .hero__section-h1 {
    margin-bottom: 1.7rem; }

.buy__btn {
  margin-top: 4.6rem; }

.browse__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38.1rem, 1fr));
  gap: 2rem; }

.browse__card--item {
  text-align: center;
  font-size: 2.4rem; }

.browse__card--image-img {
  max-width: 38.1rem;
  height: 48rem; }

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
  gap: 3.2rem; }

.product__card {
  position: relative; }
  .product__card-image--img {
    max-width: 28.5rem;
    height: 30.1rem; }
  .product__card-content {
    background-color: #F4F5F7;
    width: 28.5rem;
    height: 14.5rem;
    padding: 1.6rem; }
    .product__card-content--para {
      font-size: 1.6rem;
      padding: 0.8rem 0;
      color: #898989; }
    .product__card-content--amount {
      display: flex;
      justify-content: space-between;
      margin-top: 0.8rem; }
    .product__card-content--discount {
      font-size: 2rem;
      font-weight: 600;
      line-height: 3rem;
      color: #3A3A3A;
      margin: auto 0; }
    .product__card-content--actual {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: #B0B0B0;
      margin: auto 0; }
  .product__card-label {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    background-color: #E97171;
    color: #ffffff;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .product__card-image {
    width: 28.5rem;
    height: 30.1rem;
    background-color: transparent;
    position: relative;
    overflow: hidden; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .product__card-image {
        clip-path: 100% at 50% 50%;
        -webkit-clip-path: circle(100% at 50% 50%);
        -webkit-shape-outside: circle(100% at 50% 50%);
        shape-outside: circle(100% at 50% 50%); } }
    .product__card-image--img {
      width: 28.5rem;
      height: 30.1rem;
      backface-visibility: hidden;
      transition: all 0.5s; }
    .product__card-image--figcap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #000000;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden; }
  .product__card-image--figcap {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .product__card:hover .product__card-image--img {
    filter: blur(1px) brightness(50%);
    background-color: #3A3A3A; }
