.header {
    &__cover {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }

    &__items {
        display: flex;
        gap: 0 7.5rem;
        list-style-type: none;
    }

    &__item {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;

        &--link {
            text-decoration: none;
            color: #000000;
        }

        &--link:hover {
            color: $color-primary;
            cursor: pointer;
        }
    }

    &__details {
        display: flex;
        gap: 0 4.73rem;

        &--img {
            cursor: pointer;
        }
    }
}