.container {
  max-width: 124rem;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.mt-large {
  margin-top: 4rem;
}
.mt-medium {
  margin-top: 3rem;
}

.mb-largest {
  margin-bottom: 6.5rem;
}

.mb-large {
  margin-bottom: 5.5rem;
}

.mb-medium {
  margin-bottom: 3rem;
}

.mb-small {
  margin-bottom: 2rem
}

.px-largest {
  padding: 0 13rem;
}

.px-large {
  padding: 0 10rem;
}

.px-medium {
  padding: 0 5rem;
}

.px-small {
  padding: 0 4rem;
}

.px-smallest {
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}