.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.mb-largest {
  margin-bottom: 6.29rem;
}
.mb-large {
  margin-bottom: 5.6rem;
}
.mb-medium {
  margin-bottom: 3.2rem;
}
.mb-small {
  margin-bottom: 2.2rem;
}

.px-largest {
  padding: 0 13rem;
}
.px-large {
  padding: 0 10rem;
}
.px-medium {
  padding: 0 7rem;
}
.px-small {
  padding: 0 4rem;
}

.text-center {
  text-align: center;
}
